<section class="app-footer">
  <div class="app-footer-wrapper">
    <ul class="footer-elements">
      <li class="footer-element sign-up">
        <p class="footer-text">A prototype, built with lots of <i class="fa fa-coffee fa-lg"></i> by John Schnettgoecke</p>
      </li>
    </ul>
  </div>
</section>

{{yield}}
