<section class="header-container">

  <div class="header-text-wrapper">
    <h2 class="primary-heading">A swear jar for billable time entry.</h2>
    <h3 class="primary-subheading">Timesweep creates real (but totally awesome) consequences when your employees conveniently "forget" to enter their time.</h3>

    {{#link-to 'users.create'}}
    <button class="start-demo pure-button pure-button-primary">try demo</button>
    {{/link-to}}

  </div>
</section>

<section class="how-it-works-container">
  <div class="how-it-works-heading-wrapper">
    <h2 class="how-it-works-heading">how it works</h2>
  </div>
  <ul class="how-it-works-list">
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="harvest-logo" src="assets/images/harvest_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Connect your Harvest account</h4>
        <p class="how-it-works-text">Simply connect your organization's Harvest account with Name.</p>
      </div>
    </li>
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="harvest-logo" src="assets/images/harvest_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Timesweep checks your team's time entries</h4>
        <p class="how-it-works-text">Each weekday at 11:59pm we'll find out who didn't enter their time.</p>
      </div>
    </li>
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="stripe-logo" src="assets/images/stripe_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Pay $1 when you don't enter your time</h4>
        <p class="how-it-works-text">You'll link a credit or debit card with Timesweep. We do the rest.</p>
      </div>
    </li>
  </ul>
</section>

{{yield}}
