<section class="header-container">
  <div class="header-text-wrapper">
    <h2 class="primary-heading">Tired of asking your teammates to enter their time?</h2>
    <p class="primary-header-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo soluta aliquam velit quisquam, numquam enim. At quod, dignissimos, distinctio voluptatum obcaecati tenetur mollitia necessitatibus officiis magnam veritatis quo, minima itaque.</p>
    <button class="go-to-demo pure-button pure-button-primary">try demo</button>
  </div>

</section>

<section class="how-it-works-container">
  <div class="how-it-works-heading-wrapper">
    <h2 class="how-it-works-heading">how it works</h2>
  </div>
  <ul class="how-it-works-list">
    <li class="how-it-works-step">
      <h4 class="how-it-works-title sign-up">Sign Up</h4>
      <p class="how-it-works-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error magnam labore maiores tempore ipsam eum aspernatur aut maxime dolorum consequatur ad non aliquid dolore, rem, magni necessitatibus sed earum.</p>
    </li>
    <li class="how-it-works-step">
      <h4 class="how-it-works-title sign-up">Sign Up</h4>
      <p class="how-it-works-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error magnam labore maiores tempore ipsam eum aspernatur aut maxime dolorum consequatur ad non aliquid dolore, rem, magni necessitatibus sed earum.</p>
    </li>
    <li class="how-it-works-step">
      <h4 class="how-it-works-title sign-up">Sign Up</h4>
      <p class="how-it-works-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error magnam labore maiores tempore ipsam eum aspernatur aut maxime dolorum consequatur ad non aliquid dolore, rem, magni necessitatibus sed earum.</p>
    </li>
    <li class="how-it-works-step">
      <h4 class="how-it-works-title sign-up">Sign Up</h4>
      <p class="how-it-works-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error magnam labore maiores tempore ipsam eum aspernatur aut maxime dolorum consequatur ad non aliquid dolore, rem, magni necessitatibus sed earum.</p>
    </li>
  </ul>
</section>

{{yield}}
