<section class="header-container">
  <div class="header-text-wrapper">
    <h2 class="primary-heading">Teams not entering their time every day?</h2>
    <h3 class="primary-subheading">Name creates real (but totally awesome) consequences when your employees conveniently "forget" to enter their time.</h3>

    {{#link-to 'users.create'}}
    <button class="go-to-demo pure-button pure-button-primary">try demo</button>
    {{/link-to}}

  </div>
</section>

<section class="how-it-works-container">
  <div class="how-it-works-heading-wrapper">
    <h2 class="how-it-works-heading">how it works</h2>
  </div>
  <ul class="how-it-works-list">
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="harvest-logo" src="assets/images/harvest_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Connect Name and Harvest</h4>
        <p class="how-it-works-text">Simply connect your organization's Harvest account with Name.  Once your accounts are linked, the hard part is over. We'll take it from here!</p>
      </div>
    </li>
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="harvest-logo" src="assets/images/harvest_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Name checks your team's time entries</h4>
        <p class="how-it-works-text">Name will then check your team's timesheets each weekday at 11:59pm to see which employees have (and have NOT) entered their time for the day.</p>
      </div>
    </li>
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="stripe-logo" src="assets/images/stripe_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Pay $1 when you don't enter your time</h4>
        <p class="how-it-works-text">All team members must link a credit or debit card with their Name account. Each day a team member forgets to enter their time, he or she is charged $1. All of your organization's monthly Name charges are automatically placed into a "piggy bank" of sorts.</p>
      </div>
    </li>
    <li class="how-it-works-step">
      <div class="how-it-works-info">
        <!-- <img class="harvest-logo" src="assets/images/harvest_logo.png" alt="" /> -->
        <h4 class="how-it-works-title sign-up">Donate the cash at the end of the month</h4>
        <p class="how-it-works-text">At the end of each month, Name takes the fat stacks of cash in your "piggy bank" and gives your organization a chance to match the total dollar amount. Together, we then donate all proceeds to an organization of your choice.</p>
      </div>
    </li>
  </ul>
</section>

{{yield}}
