<div class="create-user-text-container">
  <h2 class="primary-heading connect-payment">Setup payment</h2>
  <p class="connect-payment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_qtYTRfTiY5i8Ja2JapoUGGlN"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Cool Company"
    data-description="Forgetting to enter time"
    data-amount="100"
    data-label="Connect account">
  </script>
</form>


{{yield}}
