<div class="create-user-text-container">
  <h2 class="primary-heading login-heading">Welcome back!</h2>
  <p class="login-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<form class="login-form pure-form pure-form-aligned">
  <fieldset>
    <div class="input-wrapper pure-control-group">
      <input class="email" type="email" placeholder="Email Address">
    </div>
    <div class="input-wrapper pure-control-group">
      <input class="password" type="password" placeholder="Password">
    </div>
  </fieldset>
  <button class="go-to-demo pure-button pure-button-primary">log in</button>
</form>



{{yield}}
