<div class="create-user-text-container">
  <h2 class="primary-heading create-account">Create account</h2>
  <p class="create-account-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

</div>

<form class="create-user-form pure-form pure-form-aligned">
  <fieldset>
    <div class="input-wrapper pure-control-group">
      <input class="name" type="text" placeholder="Your name">
    </div>
    <div class="input-wrapper pure-control-group">
      <input class="org-name" type="text" placeholder="Company name">
    </div>
    <div class="input-wrapper pure-control-group">
      <input class="email" type="email" placeholder="Email Address">
    </div>
    <div class="input-wrapper pure-control-group">
      <input class="password" type="password" placeholder="Password">
    </div>
  </fieldset>
  {{#link-to 'onboarding.pay'}}
  <button class="go-to-demo pure-button pure-button-primary">sign up</button>
  {{/link-to}}

  {{link-to 'Already have an account?' 'sessions.create'}}
</form>


{{yield}}
