
<div class="user-show-latest-entry">
  <h2 class="day" {{action 'toggleTuesday' on='click'}}>Tuesday</h2>
  <ul class="user-show-entries-list-tuesday">
    {{#each model.tuesday.day_entries as |tuesday|}}
    <li class="entry">
      <div class="entry-wrapper">
        <h2 class="entry-project">{{tuesday.project}}</h2>
        <h4 class="entry-client">{{tuesday.client}}</h4>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{yield}}
