<div class="current-user-content-container">
  <div class="current-user-text-container">
    <img class="timesweep-logo-circle" src="assets/images/timesweep_circle_100.png" alt="" />
    <h2 class="primary-heading current-user-heading">Hi there, {{session.currentUser.name}}!</h2>
    <h3 class="primary-subheading current-user-subheading-primary">Where should we send your money?</h3>
    <p class="how-it-works-text current-user-subheading-secondary">Tell us where you want to send your money each month. At the end of each month, your company will have a chance to match!</p>
  </div>

  <div class="current-user-select-container">
    <div class="current-user-org-select">
      <form class="select-organization-list" {{action "saveOrg" on="submit"}}>
      </form>
      <button class="submit-info pure-button pure-button-primary" type="submit">submit</button>
    </div>
  </div>
</div>






{{yield}}
