<div class="user-show-latest-entry">
  <div class="card user-show-latest-entry-wrapper">
    <div class="user-show-latest-entry-title">
      <h2 class="primary-subheading user-show-latest-entry-title-text">Wednesday</h2>
      <i class="activator fa fa-exclamation-circle fa-4x"></i>
    </div>
    <ul class="entries-list user-show-entries-list-wednesday">
      {{#each model.wednesday.day_entries as |wednesday|}}
      <li class="entry">
        <div class="entry-wrapper">
          <h2 class="entry-project">{{wednesday.project}}</h2>
          <h4 class="entry-client">{{wednesday.client}}</h4>
          <h3 class="entry-hours">{{wednesday.hours}}</h3>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="card-reveal">
      <span class="card-title">Wednesday<i class="material-icons right">close</i></span>
      <div class="card-reveal-info">
        <span class="primary-heading time-entered">6.15</span>
        <span class="card-reveal-hours-entered"><strong>Hours entered</strong></span>
        <span class="primary-heading time-missing">1.75</span>
        <span class="card-reveal-hours-missing"><strong>Hours missing</strong></span>
      </div>
    </div>
  </div>
</div>


{{yield}}
