{{log session.currentUser}}

<div class="current-user-text-container">
  <h2 class="primary-heading current-user-heading">{{model.organization}}, alright!</h2>
  <h3 class="primary-subheading current-user-name">Let's get started.</h3>
  <p class="current-user-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt praesentium dolores voluptate, maiores assumenda debitis, adipisci error! Tenetur nam, molestias natus. Vel et quo perferendis ad officia hic voluptatum in!!</p>
  <button class="go-to-demo pure-button pure-button-primary" type="submit" {{action "authHarvest"}}>connect harvest</button>
</div>

  <a href="https://api.harvestapp.com/oauth2/authorize?client_id=bzfkSnoPQGNEgsRhRJLAFA&redirect_uri=http://e34d696.ngrok.com/users/show&state=optional-csrf-token&response_type=token">Authorize Harvest</a>


{{yield}}
