<div class="user-show-latest-entry">
  <div class="user-show-latest-entry-by-day">
    <h2 class="primary-subheading user-show-day-entry">Friday</h2>
  </div>
  <ul class="entries-list user-show-entries-list-thursday">
    {{#each model.friday.day_entries as |friday|}}
    <li class="entry">
      <div class="entry-wrapper">
        <h2 class="entry-project">{{friday.project}}</h2>
        <h4 class="entry-client">{{friday.client}}</h4>
        <h3 class="entry-hours">{{friday.hours}}</h3>
      </div>
    </li>
    {{/each}}
  </ul>
</div>


{{yield}}
