<div class="user-show-latest-entry">
  <div class="card user-show-latest-entry-wrapper">
    <div class="user-show-latest-entry-title">
      <h2 class="primary-subheading user-show-latest-entry-title-text">Friday</h2>
      <i class="activator fa fa-exclamation-circle fa-4x"></i>
    </div>
    <ul class="entries-list user-show-entries-list-thursday">
      {{#each model.friday.day_entries as |friday|}}
      <li class="entry">
        <div class="entry-wrapper">
          <h2 class="entry-project">{{friday.project}}</h2>
          <h4 class="entry-client">{{friday.client}}</h4>
          <h3 class="entry-hours">{{friday.hours}}</h3>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="card-reveal">
      <span class="card-title">Friday</span>
      <div class="card-reveal-info">
        <span class="primary-heading time-entered">7.15</span>
        <span class="card-reveal-hours-entered"><strong>Hours entered</strong></span>
        <span class="primary-heading time-missing">0.75</span>
        <span class="card-reveal-hours-missing"><strong>Hours missing</strong></span>
      </div>
    </div>
  </div>
</div>


{{yield}}
