
<div class="user-show-latest-entry">
  <h2 class="day" {{action 'toggleMonday' on='click'}}>Monday</h2>
  <ul class="user-show-entries-list-monday">
    {{#each model.monday.day_entries as |monday|}}
    <li class="entry">
      <div class="entry-wrapper">
        <h2 class="entry-project">{{monday.project}}</h2>
        <h4 class="entry-client">{{monday.client}}</h4>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{yield}}
