
  <div class="current-user-text-container">
    <h2 class="primary-heading current-user-heading">Hi there, {{session.currentUser.name}}!</h2>
    <h3 class="primary-subheading current-user-name">Welcome to TimeSweep.</h3>
    <p class="current-user-text">When you don't enter your time, Girl Develop It wins!. At the end of each month, {{model.company}} will match the total dollar amount and donate all proceeds to Girl Develop It. Connect your Harvest account now and get started!</p>
  </div>

  <div class="current-user-org-select">
    <div class="current-user-orgs-heading-wrapper">
      <h2 class="current-user-orgs-heading">choose organization</h2>
    </div>
    <form class="select-organization-list" {{action "saveOrg" on="submit"}}>
      <select class="select-organization-input" name="">
        <option value="value1">Girl Develop It</option>
        <option value="value2">100 Girls of Code</option>
        <option value="value3">Code for America</option>
      </select>
      <button class="go-to-demo pure-button pure-button-primary" type="submit">submit</button>
    </form>
  </div>


  <a href="https://api.harvestapp.com/oauth2/authorize?client_id=bzfkSnoPQGNEgsRhRJLAFA&redirect_uri=http://e34d696.ngrok.com/users/show&state=optional-csrf-token&response_type=token">Authorize Harvest</a>


{{yield}}
