$gutter: 0em;
$box-sizing: true;

//BOURBON & NEAT
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

//PARTIALS
@import 'partials/base';
@import 'partials/typography';
@import 'partials/buttons';

//COMPONENT STYLES
@import 'partials/landing';
@import 'partials/users-create';
@import 'partials/users-current';
@import 'partials/sessions-create';
@import 'partials/users-auth';
@import 'partials/users-show';

body {
  font-size: 62.5%;
}

.app-header {
  height: 10.5em;
  background-color: #fff;
  border-bottom: 1px solid grey;
  overflow: auto;
}

  .app-header-wrapper {
    @include outer-container(1080px);
    position:relative;
  }

  .timesweep-logo {
    @include span-columns(3);
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
  }

  .header-elements {
    @include span-columns(9);
    list-style: none;
    padding-left: 0;
    text-align: right;
  }

    .header-element {
      display: inline-block;
    }
