$gutter: 0em;
$box-sizing: true;

@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';
@import 'partials/typography';
@import 'partials/colors';
@import 'partials/buttons';

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

//HEADER and all ELEMENTS

.header-container {
  background-color: $primary-color;
  height: 400px;
}

  .header-text-wrapper {
    @include outer-container(1080px);
    width: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }


.how-it-works-container {
  background-color: #fff;
}

.how-it-works-heading-wrapper,
.how-it-works-list {
  @include outer-container(1080px);
  list-style: none;
}

    .how-it-works-info {
      @include span-columns(8);
    }

    .how-it-works-icon{
      @include span-columns(4);
    }
