$gutter: 0em;
$box-sizing: true;

//BOURBON & NEAT
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

//PARTIALS
@import 'partials/base';
@import 'partials/typography';
@import 'partials/buttons';

//COMPONENT STYLES
@import 'partials/landing';
@import 'partials/users-create';
@import 'partials/users-current';
@import 'partials/sessions-create';
@import 'partials/users-show';

body {
  font-size: 62.5%;
}

.app-header {
  height: 9em;
  background-color: #fff;
  border-bottom: 1px solid grey;
  overflow: auto;
}

  .header-elements {
    list-style: none;
  }

    .timesweep-logo {
      display: inline-block;
    }

    .header-element {
      display: inline-block;
    }
