
//COLORS
$primary-app-color: #A5C663;
$secondary-app-color: #808080;
$accent-color: #F7F7F7;

//TYPOGRAPHY

  //FONTS
  $paragraph-font-family: 'Roboto', sans-serif;
  $heading-font-family: 'Oswald', sans-serif;

  
  //FONT COLORS
  $heading-text-color: #A5C663;
  $subheading-color: #453333;
  $paragraph-text-color: #808080;
