
//VARIABLES
$button-border-radius: 5px;


//HEADER
.go-to-harvest,
.go-to-demo,
.pay-with-card {
  font-size: 200%;
  width: 70%;
  margin: 1em auto;
  display: block;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  text-align: center;
}

.go-to-demo {
  margin: 2em auto;
  max-width: 50%;
}

a {
  text-decoration: none;
}
