
//VARIABLES
$button-border-radius: 5px;


.sign-in,
.log-out {
  font-size: 175%;
  color: $primary-app-color;
  margin: 1em auto;
  padding: 0.5em;
  background-color: #fff;
  border: 2px solid $primary-app-color;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  text-align: center;
}

  .sign-in:hover,
  .log-out:hover {
    background-color: $tertiary-app-color;
    color: #fff;
    margin: 1em auto;
    padding: 0.5em;
    border: 2px solid #fff;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s ease;
  }

.start-demo {
  width: 70%;
  font-size: 200%;
  color: #fff;;
  margin: 2em auto;
  display: block;
  padding: 0.5em;
  background-color: $primary-app-color;
  border: 2px solid #fff;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  text-align: center;
}

  .start-demo:hover,
  .create-session:hover,
  .log-in:hover,
  .submit-info:hover {
    width: 70%;
    font-size: 200%;
    color: #fff;;
    display: block;
    margin: 2em auto;
    padding: 0.5em;
    background-color: $tertiary-app-color;
    border: 2px solid #fff;
    border-radius: $button-border-radius;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s ease;
  }

.create-session,
.log-in,
.submit-info {
  width: 70%;
  font-size: 200%;
  color: $primary-app-color;
  margin: 2em auto;
  display: block;
  padding: 0.5em;
  background-color: #fff;
  border: 2px solid $primary-app-color;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  text-align: center;
}

/* .submit-info {
  margin-top: 4em;
} */


.go-to-harvest,
.pay-with-card {
  font-size: 200%;
  width: 70%;
  margin: 1em auto;
  display: block;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}
