
//COLORS
$primary-color: #A5C663;


//HEADER and all ELEMENTS
.header-container {
  background-color: $primary-app-color;
  height: 400px;
  overflow: auto;
}

  .header-text-wrapper {
    @include outer-container(1080px);
    width: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .how-it-works-container {
    background-color: #fff;
  }

  .how-it-works-heading-wrapper {
    background-color: #fff;
    border-bottom: 1px solid $primary-app-color;
    padding-left: 0;
    list-style: none;
    overflow: auto;
  }

    .how-it-works-list {
      @include outer-container(720px);
      padding-left: 0;
      list-style: none;
    }

      .how-it-works-step {
        @include span-columns(12);
        margin: 3em auto;
        text-align: center;
      }

        .how-it-works-text {
          width: 100%;
          margin: 0 auto;
          font-size: 2em;
        }



//tablet size

@media screen and (min-width: 600px) and (max-width: 980px) {

  .header-text-wrapper {
    width: 80%;
  }

  .how-it-works-step {
    @include span-columns(12);
    width: 100%;
    display: block;
    margin: 3em auto;
    text-align: center;
  }

    .how-it-works-text {
      max-width: 80%;
      margin: 0 auto;
      font-size: 2em;
    }

}

@media screen and (max-width: 599px) {

  .header-container {
    height: 550px;
  }

  .header-text-wrapper {
    width: 85%;
  }

    .primary-heading {
      line-height: 1.2em;
    }

  .how-it-works-info {
    width: 80%;
    margin: 0 auto;
  }

    .how-it-works-title {
      width: 90%;
      margin: 0 auto;
    }
}
