
//desktop size
.payment-show-container {
  @include outer-container(1080px);
}

.payments-show-list-container {
  @include outer-container(920px);
  margin-top: 3em;
}

  .payments-show-charges-list {
    @include span-columns(12);
    list-style: none;
    padding-left: 0;
  }

    .charge {
      @include span-columns(4 of 12);
      @include omega;
      text-align: center;
      margin-top: 3em;
      margin-bottom: 3em;
    }

      .charge-wrapper {
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid $primary-app-color;
      }

      .charge-info {
        /* display: inline-block; */
      }

      .fa-check-circle {
        color: $tertiary-app-color;
      }

      .charge-created,
      .charge-status {
        font-size: 1.4em;
        margin-bottom: 1em;
      }

      .charge-status {
        margin-bottom: 4em;
      }

      a {
        padding-top: 0 !important;
      }

      .modal-action {
        font-size: 1.6em !important;
        color: $tertiary-app-color !important;
      }

      .how-it-works-text {
        width: 90%;
        margin: 0 auto;
        font-size: 1.7em;
        text-align: center;
      }


//tablet size
@media screen and (min-width: 600px) and (max-width: 980px) {

  .charge {
    @include span-columns(6 of 12);
  }

}


//mobile size
@media screen and (min-width: 375px) and (max-width: 599px) {

  .charge {
    @include span-columns(12 of 12);
  }

}
