
//desktop size

.create-session-content-container {
  @include outer-container(600px);
  margin-top: 3em;
  border-radius: 15px;
}

.login-form {
  @include outer-container(600px);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}

  .login-form fieldset {
    margin-top: 2em;
  }

  .input-wrapper {
    margin: 1em auto;
    text-align: center;
  }

    .password
    .email {
      width: 70%;
      height: 4em;
      margin: 0 auto;
    }


@media screen and (min-width: 600px) and (max-width: 980px) {

  .login-form {
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
  }

    .login-form fieldset {
      margin-top: 2em;
    }

    .input-wrapper {
      margin: 1em auto;
      text-align: center;
    }

      .password
      .email {
        width: 70%;
        height: 4em;
        margin: 0 auto;
      }

}


//mobile size
@media screen and (min-width: 375px) and (max-width: 599px) {

    .login-heading {
      font-size: 4em;
    }

    .login-form {
      width: 80%;
      margin: 0 auto;
      border-radius: 8px;
    }

      .login-form fieldset {
        margin-top: 2em;
      }

        .input-wrapper {
          margin: 1em auto;
          text-align: center;
        }

        input[type=email],
        input[type=password] {
          font-size: 1.2em;
        }

        .password
        .email {
          width: 70%;
          height: 4em;
          margin: 0 auto;
        }

}
