
/* .login-container {
  @include outer-container(1080px);
} */

.create-session-content-container {
  @include outer-container(600px);
  margin-top: 3em;
  /* border: 1px solid $tertiary-app-color; */
  border-radius: 15px;
}

.login-form {
  @include outer-container(600px);
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid $primary-app-color; */
  border-radius: 8px;
}

  .login-form fieldset {
    margin-top: 2em;
  }

  .input-wrapper {
    margin: 1em auto;
    text-align: center;
  }

    .password
    .email {
      width: 70%;
      height: 5em;
      margin: 0 auto;
    }


@media screen and (min-width: 600px) and (max-width: 980px) {

  .login-form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $primary-app-color;
    border-radius: 8px;
  }

    .login-form fieldset {
      margin-top: 2em;
    }

    .input-wrapper {
      margin: 1em auto;
      text-align: center;
    }

      .password
      .email {
        width: 70%;
        height: 5em;
        margin: 0 auto;
      }

}


//mobile size
@media screen and (max-width: 599px) {

    .login-form {
      width: 80%;
      margin: 0 auto;
      border: 1px solid $primary-app-color;
      border-radius: 8px;
    }

      .login-form fieldset {
        margin-top: 2em;
      }

        .input-wrapper {
          margin: 1em auto;
          text-align: center;
        }

        .password
        .email {
          width: 70%;
          height: 5em;
          margin: 0 auto;
        }

}
