
//LANDING

.primary-heading {
  font-family: $heading-font-family;
  font-size: 5em;
  font-weight: 300;
  color: #fff;
  margin: 0.5em 0;
  text-align: center;
}

.primary-subheading {
  font-family: $paragraph-font-family;
  font-size: 2.5em;
  font-weight: 300;
  color: $subheading-color;
  margin: 0.5em 0;
  text-align: center;
  line-height: 1.3em;
}

.primary-header-text {
  font-family: $paragraph-font-family;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
}


//how it works section
.how-it-works-heading,
.current-user-orgs-heading {
  font-family: $heading-font-family;
  font-size: 5em;
  font-weight: 500;
  color: $heading-text-color;
  text-transform: uppercase;
  text-align: center;
}

.how-it-works-title {
  font-family: $paragraph-font-family;
  font-size: 2.5em;
  font-weight: 300;
  color: $heading-text-color;
  line-height: 1.5em;
}

.how-it-works-text {
  width: 80%;
  font-family: $paragraph-font-family;
  font-size: 1.6em;
  font-weight: 100;
  color: $paragraph-text-color;
  line-height: 2em;
}


// USERS-CREATE
// SESSIONS-CREATE

.current-user-heading,
.user-show-heading,
.create-account,
.login-heading {
  font-family: $heading-font-family;
  font-size: 5em;
  font-weight: 300;
  color: $heading-text-color;
  margin: 0.5em 0;
  text-align: center;
}

.current-user-text,
.user-show-text-success,
.user-show-text-next,
.create-account-text,
.login-text {
  width: 80%;
  font-family: $paragraph-font-family;
  font-size: 1.8em;
  font-weight: 100;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  color: $paragraph-text-color;
  text-align: center;
  line-height: 2em;
}



.sign-out {
  font-family: $paragraph-font-family;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}



.user-show-text {
  margin-top: 0;
  line-height: 1.5em;
}

.entry-project {
  font-family: $paragraph-font-family;
  font-size: 1.5em;
  font-weight: 100;
  color: $subheading-color;
}

.entry-client {
  font-family: $paragraph-font-family;
  font-size: 1.2em;
  font-weight: 500;
  color: $paragraph-text-color;
}

.entry-hours {
  font-family: $paragraph-font-family;
  font-size: 1.8em;
  font-weight: 300;
  color: $paragraph-text-color;
}

.session-info,
.user-org {
  font-family: $paragraph-font-family;
  font-size: 1.4em;
  font-weight: 500;
}

.current-user-subheading-secondary {
  text-align: center;
}
