
//desktop size
.users-show-container {
  /* @include outer-container(1080px); */
}

  //HEADER container, includes pay component

  .user-show-header-container {
    @include outer-container(1080px);
    margin: 5em auto;
  }

      .user-avatar {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
        -moz-box-shadow:    3px 3px 5px 6px #ccc;  Firefox 3.5 - 3.6
        box-shadow:         3px 3px 5px 6px #ccc; */
      }

      .missing-entries {
        color: $primary-app-color;
        margin-top: 0;
        margin-bottom: 0;
      }

  .users-show-heading-wrapper {
    background-color: #FCFCFC;
    border-top: 1px solid $tertiary-app-color;
    border-bottom: 1px solid $tertiary-app-color;
    padding-left: 0;
    list-style: none;
    overflow: auto;
  }


  //TIME ENTRIES container, includes Harvest data

  .user-show-entries-container {
    @include outer-container(1080px);
    margin-top: 5em;
  }

    .user-show-latest-entry {
      @include span-columns(4 of 12);
      @include omega;
      height: 350px;
      margin: 3em auto;
      background-color: #fff;
      border-radius: 8px;
    }

      .user-show-latest-entry-wrapper {
        width: 90%;
        height: 350px;
        margin: 0 auto;
        border: 2px solid $tertiary-app-color;
        border-radius: 8px;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
      }


      .user-show-latest-entry-title {
        background-color: $tertiary-app-color;
        overflow: auto;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: relative;
      }

        .user-show-latest-entry-title-text {
          color: #fff;
          font-weight: 500;
          display: inline-block;
          margin: 0.5em 1em;
          text-transform: uppercase;
        }

        .fa {
          display: inline-block;
          color: #fff;
          margin-left: 3em;
          text-align: right;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

      .entries-list {
        list-style: none;
        padding-left: 0;
      }

      .entry-wrapper {
        margin: 0.5em 1.5em;
      }

          .entry {
            width: 90%;
            height: 70px;
            margin: 2em auto;
            border-bottom: 1px solid grey;
          }

            .entry-client {
              margin-top: 0;
            }

            .entry-hours {
              position: relative;
              left: 13em;
              top: -3em;
            }


//tablet size
@media screen and (min-width: 600px) and (max-width: 980px) {
}

  .user-show-header-container {
    width: 80%;
  }

  .missing-entries {
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .users-show-subheading {
    font-size: 2em;
  }

  .user-show-latest-entry {
    @include span-columns(12 of 12);
  }

//mobile size
@media screen and (min-width: 375px) and (max-width: 599px) {

  .user-show-header-container {
    width: 80%;
  }

  .missing-entries {
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .users-show-subheading {
    font-size: 2em;
  }

  .user-show-latest-entry {
    @include span-columns(12 of 12);
  }

}
