
.current-user-page-header {
  height: 80px;
  background-color: $primary-app-color;
  overflow: auto;
}

.create-user-form {
  width: 80%;
  margin: 0 auto;
  border: 1px solid $primary-app-color;
  border-radius: 8px;
}

  .create-user-form fieldset {
    margin-top: 2em;
  }

  .input-wrapper {
    margin: 1em auto;
    text-align: center;
  }

    .name,
    .org-name,
    .username,
    .password,
    .email {
      width: 70%;
      height: 5em;
      margin: 0 auto;
    }

    .login-link {
      display: block;
      text-align: center;
      font-size: 1.2em;
      margin: 2em 0;
    }


@media screen and (min-width: 600px) and (max-width: 980px) {

  .create-user-form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $primary-app-color;
    border-radius: 8px;
  }

    .create-user-form fieldset {
      margin-top: 2em;
    }

    .input-wrapper {
      margin: 1em auto;
      text-align: center;
    }

      .name,
      .org-name,
      .username,
      .password,
      .email {
        width: 70%;
        height: 5em;
        margin: 0 auto;
      }

}


//mobile size
@media screen and (max-width: 599px) {

    .create-user-form {
      width: 80%;
      margin: 0 auto;
      border: 1px solid $primary-app-color;
      border-radius: 8px;
    }

      .create-user-form fieldset {
        margin-top: 2em;
      }

        .input-wrapper {
          margin: 1em auto;
          text-align: center;
        }

        .name,
        .org-name,
        .username,
        .password,
        .email {
          width: 70%;
          height: 5em;
          margin: 0 auto;
        }


}
