
/* .create-user-header-container {
  background-color: $primary-app-color;
  height: 1000px;
  overflow: auto;
} */

.create-user-content-container {
    @include outer-container(600px);
    margin-top: 7em;
    /* border: 1px solid $tertiary-app-color; */
    border-radius: 15px;
}

.create-user-form {
  @include outer-container(600px);
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid $primary-app-color; */
  border-radius: 8px;
}

  .timesweep-logo-circle {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 7em;
  }

  .create-user-form fieldset {
    margin-top: 2em;
  }

  .input-wrapper {
    margin: 1em auto;
    text-align: center;
  }

    .name,
    .org-name,
    .username,
    .password,
    .email {
      width: 70%;
      height: 5em;
      margin: 0 auto;
      border: 1px solid $tertiary-app-color;
      border-radius: 8px;
    }

    ::-webkit-input-placeholder {
        color: #2a6b99;
        font-size: 1.2em;
        line-height: 1em;
        padding-left: 2%;
      }

      input[type=text],
      input[type=email],
      input[type=password] {
        font-size: 1.4em;
        color: $tertiary-app-color;
        padding-left: 2%;
      }

      input:hover, textarea:hover, select:hover {
        border-color: $tertiary-app-color;
      }

    .login-link {
      display: block;
      text-align: center;
      font-size: 1.2em;
      margin: 2em 0;
    }



@media screen and (min-width: 600px) and (max-width: 980px) {

  .create-user-form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $primary-app-color;
    border-radius: 8px;
  }

    .create-user-form fieldset {
      margin-top: 2em;
    }

    .input-wrapper {
      margin: 1em auto;
      text-align: center;
    }

      .name,
      .org-name,
      .username,
      .password,
      .email {
        width: 70%;
        height: 5em;
        margin: 0 auto;
      }

}


//mobile size
@media screen and (max-width: 599px) {

    .create-user-form {
      width: 80%;
      margin: 0 auto;
      border: 1px solid $primary-app-color;
      border-radius: 8px;
    }

      .create-user-form fieldset {
        margin-top: 2em;
      }

        .input-wrapper {
          margin: 1em auto;
          text-align: center;
        }

        .name,
        .org-name,
        .username,
        .password,
        .email {
          width: 70%;
          height: 5em;
          margin: 0 auto;
        }


}
