

//desktop size
.create-user-content-container {
    @include outer-container(600px);
    background-color: #fff;
    margin-top: 3em;
    border-radius: 15px;
}

.create-user-form {
  @include outer-container(600px);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}

  .timesweep-logo-circle {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }

  .create-user-form fieldset {
    margin-top: 2em;
  }

  .input-wrapper {
    margin: 1em auto;
    text-align: center;
  }

    .name,
    .org-name,
    .username,
    .password,
    .email {
      width: 70%;
      height: 3em;
      margin: 0 auto;
      border-radius: 8px;
      background-color: #fff;
    }

    ::-webkit-input-placeholder {
        color: grey;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1em;
        padding-left: 2%;
      }

      input[type=text],
      input[type=email],
      input[type=password] {
        font-size: 1.4em;
        color: $tertiary-app-color;
        padding-left: 2%;
      }

      input:focus {
        border-color: $tertiary-app-color;
      }

      input:hover, textarea:hover, select:hover {
        border-color: $tertiary-app-color;
      }

    hr {
      width: 80%;
    }

    .login-link {
      display: block;
      text-align: center;
      font-size: 1.6em;
      font-weight: 500;
      color: $primary-app-color;
      margin: 2em 0;
    }

      .login-link:hover {
        color: $tertiary-app-color;
      }



@media screen and (min-width: 600px) and (max-width: 980px) {

  .create-user-form {
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
  }

    .create-user-form fieldset {
      margin-top: 2em;
    }

    .input-wrapper {
      margin: 1em auto;
      text-align: center;
    }

      .name,
      .org-name,
      .username,
      .password,
      .email {
        width: 70%;
        height: 4em;
        margin: 0 auto;
      }

}


//mobile size
@media screen and (min-width: 375px) and (max-width: 599px) {


    .create-account {
      font-size: 4em;
    }

      input[type=text],
      input[type=email],
      input[type=password] {
        font-size: 1.2em;
      }

    .create-user-form {
      width: 80%;
      margin: 0 auto;
      border-radius: 8px;
    }

      .create-user-form fieldset {
        margin-top: 2em
      }

        .input-wrapper {
          margin: 1em auto;
          text-align: center;
        }

        .name,
        .org-name,
        .username,
        .password,
        .email {
          width: 70%;
          height: 4em;
          margin: 0 auto;
        }

        .pure-form button[type=submit] {
          margin: 2em auto;
        }


}
