
.user-show-content-container {
  background-color: $primary-app-color;
  height: 400px;
  overflow: auto;
}

  .user-avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }


  //Entry listings

  .user-show-latest-entries-container {
    @include outer-container(1080px);
  }

    .user-show-latest-entry {
      @include span-columns(4 of 12);
      @include omega;
      height: 350px;
      margin: 4em auto;
      display: inline-block;
      background-color: #fff;
      border: 2px solid $tertiary-app-color;
      border-radius: 8px;
    }

      .user-show-latest-entry-by-day {
        background-color: $tertiary-app-color;
        overflow: auto;
      }

        .pay {
          background-color: $primary-app-color;
          overflow: auto;
        }

        .user-show-day-entry {
          color: #fff;
          font-weight: 500;
          text-transform: uppercase;
        }

      .entries-list {
        list-style: none;
        padding-left: 0;
      }

      .entry-wrapper {
        margin: 0.5em 1.5em;
      }

          .entry {
            width: 90%;
            height: 70px;
            margin: 1em auto;
            border-bottom: 1px solid grey;
          }

            .entry-client {
              margin-top: 0;
            }

            .entry-hours {
              float: right;
            }



@media screen and (min-width: 600px) and (max-width: 980px) {
}

//mobile size
@media screen and (max-width: 599px) {


}
