
.create-user-container {
  @include outer-container(1080px);
}

  .current-user-page-header {
    height: 80px;
    background-color: $primary-app-color;
    overflow: auto;
  }

  .current-user-text-container {
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
  }

  .gdi-logo {
    max-width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    filter: grayscale(100%);
  }


@media screen and (min-width: 600px) and (max-width: 980px) {

  .gdi-logo {
    max-width: 40%;
  }

}


//mobile size
@media screen and (max-width: 599px) {

  .gdi-logo {
    max-width: 40%;
  }

}
