
  .current-user-content-container {
    @include outer-container(600px);
    margin-top: 7em;
    /* border: 1px solid $tertiary-app-color; */
    border-radius: 15px;
  }


  .current-user-text-container {
    width: 80%;
    margin: 0 auto;
  }

  .current-user-select-container {
      @include outer-container(500px);
      width: 100%;
      margin: 0 auto;
      margin-top: 3em;
      border-radius: 8px;
  }

  .timesweep-logo-circle {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 7em;
  }

    .current-user-org-select {
      margin: 0 auto;
      display: inline-block;
    }

    .select-organization-list {
      width: 100%;
      height: 5em;
      margin: 0 auto;
      text-align: center;
    }

      .dd-selected {
        font-size: 1.6em;
      /*   margin: 0.5em; */
        padding: 0;
      }

      .dd-pointer {
        margin: 0.5em 0.5em 0.5em 0;
      }

      .dd-select {
        height: 7em;
      }

      .dd-option-image {
        max-width: 50px;
        padding-right: 12px;
      }

      .dd-selected-image {
        max-width: 50px;
      }

    .select-organization-input {
      height: 5em;
      width: 80%;
      display: block;
      margin: 0 auto;
      margin-top: 2em;
    }




@media screen and (min-width: 600px) and (max-width: 980px) {

}


//mobile size
@media screen and (max-width: 599px) {

}
