<form class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
        <label for="name">Username</label>
        <input id="name" type="text" placeholder="Username">
    </div>

    <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">
    </div>

    <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input id="email" type="email" placeholder="Email Address">
    </div>
  </fieldset>
</form>


{{outlet}}
