
<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="sk_test_KkScrikChRGn3nQkINxdKFcJ"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Cool Company"
    data-description="Forgetting to enter time"
    data-amount="100"
    data-label="Store card">
  </script>
</form>


{{outlet}}
