<section class="app-header">
  <div class="app-header-wrapper">
    <img class="timesweep-logo" src="assets/images/timesweep_logo_smaller.png" alt="" />
    <ul class="header-elements">
      <li class="header-element">
        {{#if session.isAuthenticated}}
          <button class="log-out" {{action 'invalidateSession'}}>Log out</button>
        {{/if}}
      </li>
    </ul>
  </div>
</section>

{{outlet}}
