<div class="header-container">
  <h2 class="primary-heading">Tired of asking your teammates to enter their time?</h2>
  <p class="primary-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo soluta aliquam velit quisquam, numquam enim. At quod, dignissimos, distinctio voluptatum obcaecati tenetur mollitia necessitatibus officiis magnam veritatis quo, minima itaque.</p>
</div>




{{outlet}}
